.top{
	height: 118px;
	background: #FF854E;
	position: relative;
}
.top-img{
	width:60px;
	height: 61px;
	border-radius: 50%;
	/* margin: 30px 15px 30px 25px; */
	position: absolute;
	top: 32px;
	left: 25px;
}
.list{
	text-align: right;
	box-sizing: border-box;
}
.red{
	width: 6px;
	height: 6px; 
	border: solid 1px red;
	margin-top: 25px; 
	background: red;
	border-radius: 50%;
	margin-right: 10px;
}
.btm-list{
	box-sizing: border-box;
	padding: 0px 15px;
}
.list image{
	 width:6px;
	 height: 12px;
	 margin-left: 10px;
}
