.home{
	background: #F2F2F2;
}
body{
	background: #fff;
}
.follow-box{
	width: 100%;

}
.follow-logo{
	margin-top:80px ;
	margin-left: 120px;
}
.follow-logobotm{
	text-align: center;
	line-height: 30px;
	margin-top: 20px;
}
.follow-logobotm .color2{
	font-size: 15px;
	
}
.follow-logobotm .color1{
	font-size: 13px;
}
.buttonB{
	text-align: center;
	width: 60%;
	margin: 30px auto;
	border-radius: 20px;
	height: 40px;
	background: linear-gradient(to right,#FF9B5C,#FF6160);
}
button a{
	color: #fff;
}
