.nav-top{
	background: #fff;
	width: 100%;
	height: 50px;
	font-size: 13px;
}
.nav-top div{
	width: 50%;
	float: left;
	text-align: center;
	line-height: 40px;
}
.active{
	border-bottom: solid 3px #F0C01D;
	padding-bottom: 9px;
}
.top-imgbox{
	width: 100%;
	height: 190px;
	position: relative;
	overflow: hidden;
	z-index: 0;
}
.top-imgbox img{
	width: 100%;
	height: 195px;
}
.best-num{
	font-size: 12px;
	color: #EBEBEB;
	background: rgba(0,0,0,0.6);
	border-radius: 18px;
	position: fixed;
	padding: 3px 12px;
	height: 24px;
	width: 100px;
	top: 20%;
	left: 80%;
	z-index: 10;
	}
.img-btm{
	width: 100%;
	height: 42px;
	background: #FC1267;
	margin-top: -1px;
	font-size: 15px;
	line-height: 42px;
	text-indent: 15px;
	color: #F7BDE0;
}


.best-money1{
	height: 18px;
	width: 18%;
	margin-left: 15px;
	position: relative;
	top: -1px;
	font-size: 11px;
	line-height:18px ;
	border-radius: 4px;
	border: solid 1px #F98A48;
}
.best-money2{
	height: 18px;
	width:18%;
	margin-left: 5px;
	position: relative;
	top: -1px;
	font-size: 11px;
	line-height:18px ;
	border-radius: 4px;
	border: solid 1px #F14667;
}
.span1{
	width: 50%;
	height: 100%;
	color: #fff;
	text-align: center;
}
.span2{
	width: 50%;
	height: 100%;
	color: #F98A48;
	text-align: center;
}


.address{
	background: #fff;
	width: 100%;
	height: 48px;
	
}
.choice{
	width: 100%;
	/*height: 80px;*/
	background: #fff;
	padding: 5px 10px;
}
.chioce-item{
	color: #DB977E;
	border: solid 1px #DB977E;
	border-radius: 4px;
	padding: 3px 5px;
	margin-top: 6px;
	margin-right: 5px;
}

.foter2-boxa{
	width: 100%;
	background: #fff;
	padding: 15px;

	font-size: 15px;
}
.foter2-boxa ul li{
	color:#818181 ;
	font-size: 13px;
	margin-bottom: 6px;
	/* list-style-position: outside; */
	text-align: justify;
}
.foter2{
	margin-bottom: 58px;
}
.foter-fixd{
	height: 55px;
	width: 100%;
	position: fixed;
	bottom: 0px;
	box-shadow: 0px 0px 26px #D3D3D3;
}
.index{
	width: 16%;
	height: 100%;
	text-align: center;
	font-size: 12px;
	background: #FAF4F6;
	float: left;
}
.index a{
	color: #999999;
}
.index img{
	width: 22px;
	margin-top: 6px;
	margin-bottom: 5px;
}
.panic{
	width: 68%;
	height: 100%;
	text-align: center;
	line-height: 55px;
	background: #FF7C3B;
	font-size: 15px;
}

.wahct-top{
	color: #818181; 
	font-size: 15px; 
	padding: 15px 25px; 
	background: #fff;
}
.wahct-top-text{
	position: relative;
	top: -2px;
	margin:0px 1px;
}
.wahct-top image{
	width: 6px;
	height: 10px;
	margin: 0upx 7upx;
}
.wahct-topleft{
	font-size: 14upx;
	margin: 0upx 10.4% ;
	}
	@media screen and (max-width: 360px) {
		.wahct-topleft{
			font-size: 14upx;
			margin: 0upx 9% ;
			}
	}
.wahct-topright{
	color: #8B8B8B;
	font-size: 10px;
	margin: 0upx 11%;
	}
.week{
	width: 100%;
	padding: 16upx 0upx;
	background: #D1E5F7;
	color: #697078;
}
.week-item{
	width: 14.2%;
	text-align: center;
	/* margin-left: 69upx; */
	font-size: 10px;
}
.day-item{
	width: 14.2%;
	height: 30upx;
	line-height: 140upx;
	text-align: center;
	font-size: 10px;
	color: #C8C8C8;
}
.day-star{
	color: #898989;
	line-height: 28upx;
	position: relative;
	top: 50upx;
}